[user]
	name = cad-san
	email = cadsan1986@gmail.com
[color]
	ui = auto
[core]
	quotepath = false
	pager = less -E -x4
	excludesfile = ~/dotfiles/.gitignore
[push]
	default = tracking
[diff]
    tool = DiffScript
[difftool]
  prompt = false
[difftool "DiffScript"]
    path = ~/bin/difftool.sh
    cmd  = "~/bin/difftool.sh \"$LOCAL\" \"$REMOTE\""
[alias]
	co = checkout
	ci = commit
	dc = diff --cached
	dt = difftool
	dd = difftool --dir-diff
	st = status
	ss = status --short
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t ... \\2/' | sort
	history = log --pretty=format:\"%C(yellow)%h%Creset [%Cgreen%an%Creset] %ad | %s%d\" --graph --date=short
	hist = log --pretty=format:\"%C(yellow)%h%Creset [%Cgreen%an%Creset] %ad | %s%d\" --graph --date=short
