#--------------------------------------------------
# Eclipse

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#--------------------------------------------------

# Java
*.class
*.jar
*.war
*.ear

# C++
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a

# Python
*.py[co]

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Emacs
*~
.*~
\#*\#

# Windows
Thumbs.db

# Mac OS X
.DS_Store
._*
Spotlight-V100
.Trashes
